* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 50%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
#frm {
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px ;
}
.input-group label {


}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px ;

  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}

#tb
{
border: 2px solid grey;
border-radius:2px;
margin:10px auto;
padding:10px;

}
input
{
padding: 5px;
border-radius: 2px 3px ;
  }

